
body {
    background-color: #312828 !important;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: 'Shadows Into Light' !important;
}

.container {
    background-color: #efefef;
    padding-left: 0;
    padding-right: 0;
}

nav.navbar.navbar-toggleable-md.navbar-light.bg-faded {
    margin-left: -15px;
    margin-right: -15px;
    background-color: #ec1b30;
}

a.navbar-brand {
    color: #fff !important;
}

a:hover.navbar-brand {
    color: #ccc !important;
}

a.nav-link {
    color: #fff !important;
}

a:hover.nav-link {
    color: #ccc !important;
}

.btn-outline-success {
    color: #fff;
}

.btn-outline-success:hover {
    background-color: #fff;
    border-color: #94a294;
}

form.form-inline.my-2.my-lg-0 {
    float: right;
}

div#myCarousel {
    margin-top: -20px;
    background-color: #312828;
}

.cta.row {
  background-color: #06548a;
  padding-top: 30px;
  padding-bottom: 50px;
}

.soon.row {
  background-color: #090a0a;
  padding-top: 30px;
  padding-bottom: 50px;
}

#availablenow {
    margin: -15px;
    display: block;
    position: relative;
    background-color: #06548a;
}

#availablenow h2{
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    color: white;
}

#comingsoon {
    margin: -15px;
    display: block;
    position: relative;
    background-color: #090a0a;
}

#comingsoon h2{
    padding-top: 20px;
    text-align: center;
    color: white;
}

.content.row .col-sm-4 {
    background-color: #fff;
    padding: 30px 20px 30px 30px;
}

.content.row .col-sm-8 {
    padding: 30px 30px 30px 20px;
}

.imgResize65.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.footer.row {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(236, 27, 48, .7);
}

.footer.row img {
    width: 85%;
}

.footer.row ul {
    margin-left: -40px;
    list-style: none;
}

.copyright.row {
  padding-top: 15px;
  background-color: #ec1b30;
  color: #fff;
}

.copyright.row p {
    margin: 0 auto;
}
