.container {
    background-color: #efefef;
}

.cta.row {
  background-color: #06548a;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content.row {
  margin-top: 50px;
}

.imgResize65.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.footer.row {
  padding-top: 30px;
  background-color: rgba(236, 27, 48, .7);
}

.footer.row img {
    width: 85%;
}

.copyright.row {
  padding-top: 15px;
  background-color: #ec1b30;
  color: #fff;
}

.copyright.row p {
    margin: 0 auto;
}
