
body {
    background-color: #312828 !important;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: 'Shadows Into Light' !important;
}

a {
    color: #fff !important;
}

a:hover {
    color: #ccc !important;
}

.container {
    background-color: #efefef;
    padding-left: 0;
    padding-right: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #ea1e1f;
    color: #fff;
}

.nav-item.dropdown {
    background-color: #ea1e1f;
}

.nav-tabs .dropdown-menu {
  background-color: #ea1e1f;
}

.nav-tabs .nav-link {
    color: #fff;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #ea1e1f;
    border-color: #141011;
    color: #ccc;
}

.btn-outline-success {
    color: #fff;
}

.btn-outline-success:hover {
    background-color: #fff;
    border-color: #94a294;
}

form.form-inline.my-2.my-lg-0 {
    float: right;
}

.cta.row {
  background-color: #06548a;
  padding-top: 30px;
  padding-bottom: 50px;
}

.cta.row h3 {
    text-align: center !important;
}

.soon.row {
  background-color: #090a0a;
  padding-top: 30px;
  padding-bottom: 50px;
}

.soon.row h3 {
    text-align: center;
}

#availablenow {
    margin: -15px;
    display: block;
    position: relative;
    background-color: #06548a;
}

#availablenow h2{
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    color: white;
}

#comingsoon {
    margin: -15px;
    display: block;
    position: relative;
    background-color: #090a0a;
}

#comingsoon h2{
    padding-top: 20px;
    text-align: center;
    color: white;
}

.content.row .col-sm-4 {
    background-color: #fff;
    padding: 30px 20px 30px 30px;
}

.content.row .col-sm-8 {
    padding: 30px 30px 30px 20px;
}

.imgResize65.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.imgResize65 {
  width: 65%;
}

.imgLeftSide.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-bottom: blue 5px solid;
  width: 90%;
}

.footer.row {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(236, 27, 48, .7);
}

.footer.row img {
    width: 85%;
}

.footer.row ul {
    margin-left: -40px;
    list-style: none;
}

.copyright.row {
  padding-top: 15px;
  background-color: #ec1b30;
  color: #fff;
}

.copyright.row p {
    margin: 0 auto;
}

#inner {
  margin-top: 30px;
  min-height: 350px;
}
